html, body{
    /*width:100%;
    height: 100%; */
    font-family: Arial;
    font-weight: bold;
    text-align: center;
    font-size: 130%;
    color: #ffffff;
    background-image: url("./Images/Network BG2.jpeg");
    background-size: cover;
	background-position: bottom;
    z-index: -1;   
	background-repeat: no-repeat;
    /* background: rgba(255, 255, 255, 255, .001); does fucking nothing to JPEGs */
}
ul {
	list-style-type: none;
	font-weight: bold;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
a:link {
	text-decoration: none;
    color: white;
    font-size: 120%;
    font-style: oblique;
}

/* visited link */
a:visited {
	text-decoration: none;
    color: #ff00ff;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
} 
.active {
    background-color: #4CAF50;
} 
main {
	text-align: center;
    min-height: 100%;
    margin-bottom: -100px;
   /* background: #ddd; */
}
main:after {
    content: "";
    display: block;
    height: 100px;
}
footer {
    height: 100px;
    /* background: #000000; */
    font-size: 50%;
}

p{
	font-size: 60%
	color: #ffffff;
}
h2{
	font-family: Palatino;
	font-weight: bold;
	font-size: 120%;
	color: #ffffff;
	
}
h3{
	font-size: 75%;
	color: #ffffff;
	
}
h4{
	font-size: 50%
	color: #ffffff;
	
}